@page "/platform/admin/visacard"
@using AmangoCareUI.Pages.Platform.Admin.VisaCard.Modal
@inject IVisaCardData visaCardData
@inject NavigationManager navManager
@*@inject ProtectedBrowserStorage sessionStorage*@
<h3>Visa Card Admin</h3>
<p><BSButton @onclick="CreateVisaCards" Color="BSColor.Primary" IsOutlined="true">Create Visacard data</BSButton></p>
<p>
	@if (isVisaCardCreated)
	{
		<p> Visa Card Created </p>
	}
</p>
@if (visaCards == null )
{
	<BSSpinner Color="BSColor.Primary" />
} else
{
	<BSDataTable Items="visaCards" PaginationBottom="true" StartPage="_startPage" RowsPerPage="20" Context="item">
		<Header>
			@*<BSDataTableHead TValue="VisaCardModel" Sortable="true" Column="@(nameof(VisaCardModel.VisaCardId))">Id</BSDataTableHead>*@
			<BSDataTableHead TValue="VisaCardModel" Sortable="true" Column="@(nameof(VisaCardModel.VisaCardNumber))" ColumnFilter="true">Number</BSDataTableHead>
			<BSDataTableHead TValue="VisaCardModel" Sortable="true" Column="@(nameof(VisaCardModel.VisaCardExpirationDate))" ColumnFilter="true">Expdate</BSDataTableHead>
			<BSDataTableHead TValue="VisaCardModel" Column="Actions">Actions</BSDataTableHead>
		</Header>
		<Body>
			<BSDataTableRow>
				@*<BSTD>
			@item.VisaCardId
			</BSTD>*@
				<BSTD>
					@item.VisaCardNumber
				</BSTD>
				<BSTD>
					@item.VisaCardExpirationDate
				</BSTD>
				<BSTD>
					<BSButton IsOutlined="true" Color="BSColor.Dark" DataId="popoverLeft"><i class="bi bi-three-dots-vertical"></i></BSButton>
					<BSPopover Placement="Placement.Left" Target="popoverLeft">
						<Content>
							<BSButton IsOutlined="true" @OnClick="() => currentVisaCard = @item " Color="BSColor.Primary" Target="model9" style="width : 120px">Ajouter</BSButton> <br>
							<BSButton IsOutlined="true" Color="BSColor.Warning" Target="model9" style="width : 120px; margin-top: 2px">Modifier</BSButton><br>
							<BSButton IsOutlined="true" Color="BSColor.Danger" Target="model9" style="width : 120px; margin-top: 2px">Supprimer</BSButton>
						</Content>
					</BSPopover>
					
				</BSTD>
				
			</BSDataTableRow>
		</Body>
	</BSDataTable>
	<VisaCardModal dataId="model9" OneVisaCard=@currentVisaCard></VisaCardModal>

}
@code {
	private IEnumerable<VisaCardModel> visaCards;
	private readonly int _startPage = 1;
	private readonly VisaCardModel _model = new VisaCardModel();
	private bool isVisaCardCreated = false;
	public VisaCardModel currentVisaCard = new VisaCardModel()

	private async Task CreateVisaCards()
	{
		VisaCardModel model = new()
			{
				VisaCardNumber = "4025-5565-8587-8698",
				VisaCardState = true,
				VisaCardExpirationDate = DateTime.UtcNow,
			};
		await visaCardData.CreateVisaCard(model);
		isVisaCardCreated = true;
		visaCards = await visaCardData.GetAllVisaCards();

	}

	protected async override Task OnInitializedAsync()
	{
		visaCards = await visaCardData.GetAllVisaCards();
	}
	
}
